<link href="../css/footer.css" rel="stylesheet" />
<footer id="aa-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        <div class="aa-footer-area">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="aa-footer-left">
               <p>Developed by <a rel="nofollow" href="https://www.linkedin.com/in/shubhamyeole" target="_blank">SHUBHAM YEOLE (FULL STACK DEVELOPER)</a></p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="aa-footer-middle">
                <a href="https://www.facebook.com/sy06736n" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="http://stackoverflow.com/users/5451749/shubham-yeole" target="_blank"><i class="fa fa-stack-overflow"></i></a>
                <a href="https://www.linkedin.com/in/shubhamyeole" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://github.com/shubham20yeole" target="_blank"><i class="fa fa-github"></i></a>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="aa-footer-right">
                <a href="/" target="_blank">Home</a>
                <a href="/postadd" target="_blank">Post Add</a>
                <a href="/registerlogin" target="_blank">Sign Up</a>
              </div>
              <br><br><br><br>
            </div>            
          </div>
        </div>
      </div>
      </div>
    </div>
  </footer>
