<style>
.modify_a{ padding: 25px; font-size: 1.5em; margin-left: 50px}
.modify_a:hover{background-color: black; color: white}
.modify_ul{ padding: 25px; font-size: 1.5em; margin-left: 50px}
</style>
<div class="dropdown">
    <a class="btn btn-primary dropdown-toggle modify_a" type="button" data-toggle="dropdown">My Other Projects
    <span class="caret"></span></a>
    <ul class="dropdown-menu modify_ul">
      <li class="divider"></li>
      <li>LIVE PROJECTS</li>
      <li class="divider"></li>
      <li><a href="http://shubhamregreat-livings.herokuapp.com" target="_blank">Real Estate</a></li>
      <li><a href="https://java-nodejs-blog.herokuapp.com" target="_blank">Java & Nodejs Blog</a></li>
      <li><a href="http://mediabuzznet.herokuapp.com" target="_blank">Media Buzz Net</a></li>
      <li><a href="http://resumeselector.herokuapp.com" target="_blank">Resume Selector</a></li>
      <li><a href="http://visitorsgooglemap.herokuapp.com" target="_blank">Visitors Google Map</a></li><li><a href="https://shubhamtwilio.herokuapp.com" target="_blank">Twilio SMS Service</a></li>
      
      <li class="divider"></li>
      <li>GITHUB PROJECTS</li>
      <li class="divider"></li>
      <li><a href="https://github.com/shubham20yeole/AmazonWebService-AWS-S3Bucket" target="_blank">Amazon Web Services (S3 Bucket)</a></li>
      <li><a href="https://github.com/shubham20yeole/IVR-HelpDeskProject" target="_blank">Interactive Voice Recognition</a></li>
      <li><a href="https://github.com/shubham20yeole/React.js_Cordova_App" target="_blank">ReactJS Cordova Android Project</a></li>

      <li class="divider"></li>
      <li>Follow Me: </li>
      <li class="divider"></li>
      <li><a href="https://github.com/shubham20yeole" target="_blank">GitHub</a></li>
      <li><a href="https://www.facebook.com/sy06736n" target="_blank">Facebook</a></li>
      <li><a href="https://www.linkedin.com/in/shubhamyeole" target="_blank">LinkedIn</a></li>
      <li><a href="http://stackoverflow.com/users/5451749/shubham-yeole?tab=profile" target="_blank">Stack Overflow</a></li>

    </ul>
  </div>