<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style type="text/css">
	#link{font-size: 2em;}
</style>

<center>
	<img src="../images/404.jpg" width="50%" height="50%"><br>
	<a href="/" class="btn btn-primary" id="link">Home Page</a>
</center>