

<!DOCTYPE html>
<html>
<title>Shubham Java and NodeJS Blog</title>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/default.min.css">
<link rel="stylesheet" type="text/css" href="/css/datatable.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <!-- ****************************************High Lighter PLUGINs**************************************** -->
</script><script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">


  <!-- ****************************************Google PLUGINs**************************************** -->
<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
 <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMAWPMDGHGh-KUNMkjSIlMBD1JMtTfbxk&callback=initMap"></script>

  <!-- ****************************************My PLUGINs**************************************** -->

  <link rel="stylesheet" type="text/css" href="/css/emailme.css">



  <script>hljs.initHighlightingOnLoad();</script>


<script type="text/javascript" charset="utf8" src="https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script><script type="text/javascript">
</script>
<script>

</script>
<script type="text/javascript" charset="utf8" src="https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script><script type="text/javascript">
</script>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../../css/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- w3-content defines a container for fixed size centered content,
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">


<% include partials/loginheader.html %>
  <script src="js/blog.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/blog.css">

  <script>hljs.initHighlightingOnLoad();</script>

<!-- Blog entries -->
<div class="w3-col l8 s12" >
  <!-- Blog entry -->
  <script type="text/javascript">
    


  </script>>

  <hr>

  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white" style="padding: 2%">
  <h1>Welcome to Shubham Java Nodjs Blog!</h1>
  <h5>Please email me for any questions you have...</h5>
 
  <h4><b>Contact me/Email me</b></h4>

       <div id="returnmessage"></div>
      <div id="emailme">

        <input type="text" name="email" class="email" id="email" placeholder="yourname@domain.com" required="">
        <input type="hidden" name="long" id="long">
        <input type="hidden" name="lat" id="lat"><br><br>
        <textarea name = "message" class="emailmessage" id="emailmessage" placeholder="Email Body" required=""></textarea><br><br>
        <input type="submit" id="submitEmail"><br><br>

      </div>
  </div>

<!-- END BLOG ENTRIES -->
</div>
<script type="text/javascript">
  
  $(document).on("click",".w3-padding-16",function() { 
      var id = $(this).attr('id');
    window.location = "http://localhost:3000/dashboard/"+id;
});

</script>
  
    <% include partials/tiles/rightsidedown.html %>
<!-- Footer -->

<div id="popup1" class="overlay">X
  <div class="popup">
    <div class="content"><h1>Java & NodeJS blog</h1><h3>by Shubham Yeole</h3>
    <a class="close" href="#"> &times;</a>
    </div>
      <div id='gmap_canvas' style='height:440px;width:100%;'></div>
    
  </div>
<link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">

<style type="text/css">

</style>
      </div>
    </div>
    
</div>

<footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
 <center><p style="font-size: 2em; font-weight: bold; color: #cecece">
 &copy; 2016 java-nodejs-blog.herokuapp.com. All Rights Reserved.
 </p>
 <p>Developed by: Shubham Yeole</p>
 <p>+(201) 887-5323</p>
 <p>10 Front street,</p>
 <p>Jersey City</p>
 <p>07302 NJ</p>
 <p>USA</p>

 </center>
</footer>

</body>
</html>

