<% include partials/header1.ejs %>
<link rel="stylesheet" type="text/css" href="theme/css/index.css"> 
  <script src="theme/js/index.js"></script> 

  <!-- End menu section -->

  <!-- Start slider  -->
  <section id="aa-slider">
    <div class="aa-slider-area"> 
      <!-- Top slider -->
      <div class="aa-top-slider">
        <!-- Top slider single slide -->

<div class="aa-top-slider-single">
          <img src="/images/nyc.jpg" alt="img">
          <!-- Top slider content -->
           <div class="aa-top-slider-content">
<h2 class="aa-top-slider-title">Welcome to USA REAL ESTATES</h2><br>
              <span class="aa-top-slider-catg">Thank you for using our services.</span><br><br>
               <p class="aa-top-slider-location"><i class="fa fa-home"></i>Head Quarter located at Jersey City</p>
                <span style="color: red; font-weight: bold; font-size: 20px"><i class="fa fa-product-hunt"></i><%=message %></span></p>

                <span class="aa-top-slider-off">Our organization is pledged to helping people find their perfect house</span><br>
                <p class="aa-top-slider-price"><% if(status == 'addpost'){%><%-link %><% } %></p>
                <span class="aa-top-slider-off"><a href="/" target="_blank">HOME<span class="fa fa-angle-double-right"></a></span> | 
                <span class="aa-top-slider-off"><a href="/gallery/0" target="_blank">GALLERY<span class="fa fa-angle-double-right"></a></span> | 
                <span class="aa-top-slider-off"><a href="/propertiesbymaps" target="_blank">MAP<span class="fa fa-angle-double-right"></a></span> | 
                <span class="aa-top-slider-off"><a href="/properties/0" target="_blank">PROPERTIES<span class="fa fa-angle-double-right"></a></span> | 
                <span class="aa-top-slider-off"><a href="/postadd" target="_blank">POST ADD<span class="fa fa-angle-double-right"></a></span> | 
                <span class="aa-top-slider-off"><a href="/contact" target="_blank">CONTACT<span class="fa fa-angle-double-right"></a></span>







           
          </div>
  </div>
  
        <!-- / Top slider single slide -->
      </div>
    </div>
  </section>
  <!-- End slider  -->

  <!-- Advance Search -->
  
  <!-- / Client brand -->

  <!-- Latest blog -->
  
  <!-- / Latest blog -->

  <!-- Footer -->

  <!-- / Footer -->

 
  
  <!-- jQuery library -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
  <script src="../theme/js/jquery.min.js"></script>   
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="../theme/js/bootstrap.js"></script>   
  <!-- slick slider -->
     <input type="hidden" id="longLatCurrenttask" value="RE-MESSAGE">
  <script type="text/javascript" src="../theme/js/navigator.js"></script>
  <script type="text/javascript" src="../theme/js/slick.js"></script>
  <!-- Price picker slider -->
  <script type="text/javascript" src="../theme/js/nouislider.js"></script>
  
  <!-- Custom js -->
  <script src="../theme/js/custom.js"></script> 
  <script src="../theme/js/search.js"></script> 

  </body>
</html>


   
<% include partials/footer %>
