<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#accordion" ).accordion();
  } );
  </script>
<div id="accordion">
  <h3>Section 1</h3>
  <div>
    <p>
   
    </p>
  </div>
  <h3>Section 2</h3>
  <div>
    <p>
   		

    </p>
  </div>
  <h3>Section 3</h3>
  <div>
    <p>

    </p>
  </div>
  <h3>Section 4</h3>
  <div><p>
  
    </p></div>
    <h3>Section 4</h3>
  <div><p>
  
    </p></div>

</div>