<!DOCTYPE html>
<html>
<head>
<title>RESET PASSWORD</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Collective Forms Widget Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
  <link  rel="stylesheet" type="text/css" media="all" href="/css/signupin/style.css">
  <link  rel="stylesheet" type="text/css" media="all" href="theme/css/signupin.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,400italic,300italic,600italic,700' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="main">
<h1>SET NEW PASSWORD</h1>
		<div class="wthree_top_forms">
			<div class="agile-info_w3ls hvr-buzz-out">
				<h3></h3>
				
			</div>
			<div class="agile-info_w3ls agile-info_w3ls_sub hvr-buzz-out">
				<h3>RESET PASSWORD</h3>
				<div class="agile-info_w3ls_grid second">
  					<form action="/newpasswordupdate" method="post">
      					<input type="text" name="email" value="<%= users.email %>" readonly>
      					<input type="password" name="passcode" id='passcode1' autocomplete="off" autosave="off">
					
					<div class="agile_remember">
						<div class="agile_remember_left">
							<div class="check">
								<label class="checkbox"><input type="checkbox" name="checkbox"><i> </i>remember me</label>
							</div>
						</div>
						<div class="agile_remember_right">
							<a href="/" target="_blank">Go to Home Page?</a>
						</div>
						<div class="clear"> </div>
					</div>
						<input type="submit" value="RESET">
					</form>
					<h4>Continue With</h4>
					<div class="social_icons agileinfo">
					   
						</section>
					</div>
					<h5>Don't have an account? <a href="#">Sign Up</a></h5>
				</div>
			</div>
			<div class="agile-info_w3ls third hvr-buzz-out">
				<h3></h3>
				
			</div>
			<div class="clear"> </div>
		</div>

    <script type="text/javascript" src="theme/js/signupin.js"></script>

		<div class="agileits_copyright">
			<p>© 2016 Collective Forms Widget. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
		</div>
	</div>
</body>
</html>
   <input type="hidden" id="longLatCurrenttask" value="RE-SET-NEW-PASSWORD">
  <script type="text/javascript" src="../theme/js/navigator.js"></script>