.mybgcolor{ background-color: #FFEB3B; color: black; }
.links{color: red; cursor: pointer; text-align: right;}
.trbookmark td{padding: 1%; margin-top: 0.5cm;}
.colorlink{ background-color: green; color: white; }
#lodargif{color: green; font-size: 2em; }
#lodargif2{color: green; font-size: 1em; }
.heading{font-weight: bold;}
.righttr{margin-left: 20px}

input[type="file"]{
	position: relative;
   font-family: calibri;
   width: 40%;
   padding: 10px;
   font-size: 1.2em;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border: 1px dashed #BBB; 
   text-align: center;
   background-color: #DDD;
   cursor:pointer;
}
input[type="submit"]{
     background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 6px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
     background-color: #3B2F63;
    color: white;
    border: 2px solid #3B2F63;
}