/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
.main{background:#00a78e;}
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
html, body{
    font-size: 100%;
	font-family: 'Source Sans Pro', sans-serif;
}
h1,h2,h3,h4,h5,h6,a,p{
	margin:0;
		font-family: 'Source Sans Pro', sans-serif;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover,body a{
	text-decoration:none;
}
/*-- main --*/
.main h1 {
    font-size: 2.8em;
    text-align: center;
    padding: 1em 0 0;
    color: #fff;
    letter-spacing: 3px;
    font-weight: 300;
    text-transform: uppercase;
}
.agileits_copyright{
	padding: 3em 0 5em;
}
.agileits_copyright p{
	font-size: 1em;
    color:#fff;
    margin:0;
    line-height: 1.8em;
    text-align: center;
	letter-spacing: 1px;
}
.agileits_copyright p a{
	color: #ffb900;
	text-decoration:none;
}
.agileits_copyright p a:hover{
	color:#fff;
}
.wthree_top_forms{
	margin:3em auto 0;
	width:70%;
	    text-align: center;
}
.agile-info_w3ls{
	float:left;
	width:32.35%;
	background:#fff;
}
.agile-info_w3ls h3{
	font-size: 1.5em;
    text-transform: uppercase;
    color: #fff;
    padding: .7em;
    background:#fc636b;
    text-align: center;
}
.agile-info_w3ls_sub h3{
    background:#ffb900;
}
.agile-info_w3ls:nth-child(3) h3{
    background:#6a67ce;
}
.agile-info_w3ls_grid{
	padding:2em;
	    background: url(/images/signupin/1.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}
.agile-info_w3ls_grid.second{
	padding:2em;
	background: url(/images/signupin/2.jpeg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}
.agile-info_w3ls_grid.third{
	padding:2em;
	background: url(/images/signupin/3.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}
.agile-info_w3ls input[type="text"], .agile-info_w3ls input[type="file"],.agile-info_w3ls input[type="password"],.agile-info_w3ls input[type="email"]{
    outline: none;
    padding: 10px 10px 10px 40px;
    font-size: 14px;
    color: #fff;
    border: none;
    border: 1px solid #fff;
        width: 82.5%;
      font-family: 'Source Sans Pro', sans-serif;
}
.agile-info_w3ls input[type="text"]{
	background:url(/images/signupin/1.png) no-repeat 12px 10px;
}
.agile-info_w3ls input[type="password"]{
	background:url(/images/signupin/2.png) no-repeat 11px 9px;
}
.agile-info_w3ls input[type="email"]{
  background:url(/images/signupin/3.png) no-repeat 11px 9px;
}
.agile-info_w3ls #phone{
  background:url(/images/signupin/3.png) no-repeat 11px 9px;
}
.agile-info_w3ls input[type="password"]:nth-child(2) {
    margin:1.5em 0;
}
.agile-info_w3ls input[type="email"]{
	    margin: 1.5em 0 2.13em;
}
.agile-info_w3ls label{
	font-size:1em;
	font-weight:400;
	color:#fff;
	margin: 1.5em 0 0 0em;
	text-transform:capitalize;
}
.agile-info_w3ls label span{
	    color: #00a78e;
}
.checkbox {
    position: relative;
	padding-left: 38px !important;
    cursor: pointer;
}
.checkbox i {
  position: absolute;
    bottom: -2px;
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    outline: none;
    border: 1px solid #fff;
    background: none;
}
.checkbox input + i:after,.radio input + i:after {
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    -ms-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -webkit-transition: opacity 0.1s;
}
.checkbox input:checked + i:after,.radio input:checked + i:after{
    opacity: 1;
}
.checkbox input,.radio input {
    position: absolute;
    left: -9999px;
}
.checkbox input + i:after {
    content: '';
    background: url("/images/signupin/4.png") no-repeat 0px 2px;
    top: 0px;
    left: 2px;
    width: 20px;
    height: 20px;
    font: normal 12px/16px FontAwesome;
    text-align: center;
}
.agile-info_w3ls input[type="submit"],.agile-info_w3ls input[type="reset"]{
	outline: none;
    padding: 10px 0;
    font-size: 1em;
    color: #fff;
    border: none;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    background:#fc636b;
    cursor: pointer;
    margin:1.5em 0 0;
}
.agile-info_w3ls_sub input[type="submit"] {
    background: #ffb900;
}

.agile-info_w3ls:nth-child(3) input[type="reset"] {
       background: #00a78e;
}
.agile-info_w3ls:nth-child(3) input[type="submit"] {
    background:#6a67ce;
}
.agile-info_w3ls input[type="submit"]:hover,.agile-info_w3ls input[type="reset"]:hover{
	background: #ffb900;
}
.agile-info_w3ls_sub input[type="submit"]:hover{
	background:#6a67ce;
}
input[type="submit"],.agileits_copyright p a,input[type="reset"],.agile-info_w3ls h5 a,.agile_remember_right a,.agile-info_w3ls_grid p a{
	transition:.5s ease-in;
	-webkit-transition:.5s ease-in;
/*-- w3layouts --*/
	-moz-transition:.5s ease-in;
	-o-transition:.5s ease-in;
	-ms-transition:.5s ease-in;
}
.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* Buzz Out */
@-webkit-keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

.hvr-buzz-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-buzz-out:hover, .hvr-buzz-out:focus, .hvr-buzz-out:active {
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.agile-info_w3ls h4{
	    font-size: 1.2em;
    color: #fff;
    margin: 1.5em 0 1em;
    text-align: center;
	    font-weight: 300;
}
::-webkit-input-placeholder {
	color: #ddd !important;
}
/*-- social-icons --*/
.social_icons {
    text-align: center;
}
.social{
    position:relative;
    margin: 22px auto;
}
.social a{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 60px;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
    text-align: center;
    margin-right: 30px;
}
.social .fb{
    background: #46629E;
}
.social .fb:before,
.social .fb:after{
    border-color: #46629E;
}

.social .tw{
    background: #00ACEE;
}
.social .tw:before,
.social .tw:after{
    border-color: #00ACEE;
}

.social .gp{
    background: #DD4B39;
}
.social .gp:before,
.social .gp:after
{
    border-color: #DD4B39;
}
.social a:before,
.social a:after{
    content: "";
    display: block;
    position: absolute;
    background: transparent;
    top: 0; bottom: 0; left: 0; right: 0;
    border-radius: 50%;
    transition: .3s all;
    border: 3px solid;
}
.social a:hover:after{
   -webkit-transform: scale(1.5);
}
.social a:hover:before{
    -webkit-transform: scale(2);
    transition: .3s all;
    opacity: 0;
}
a.icon.gp {
    margin: 0;
}
/*-- agileits --*/
.slide{
    position: relative;
    float: left;
    width: 75%;
    height: 100%;
}
.slide p{
    position: relative;
    top:10px;
    margin: 0;
    border-left: 1px solid rgba(255,255,255,0.3);
    color:#FFF !important;
    text-align: center;
}
/* Brand Colours */
.facebook{
    background: #3b5998;
}
.twitter{
    background: #00acee;
}
/* Slide Animation */
.slide-social:hover .slide{
    -webkit-transform: translate(101%, 0);
    -moz-transform: translate(101%, 0);
    -ms-transform: translate(101%, 0);
    -o-transform: translate(101%, 0);
    transform: translate(101%, 0);
}
.no-cssanimations .slide{
    display: none; /* hide in IE 8-9 */
}
.touch .slide{
    display: none; /* hide on touch devices */
}
/* Transition */
.slide{
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
/* Example Media Queries */
@media only screen and (max-width : 30em) { /* 480px/16px = 30em */
/*-- w3layouts --*/
    .slide-social{
        width: 100%;
    }
    .slide-social .button{
        position: absolute;
        margin-left: 50%;
    }
}
/*-- social-icons --*/
.agile-info_w3ls_sub{
	margin:0 1em;
}
.agile_remember_left{
	float:left;
}
.agile_remember_right{
	float:right;
}
.agile_remember_right a{
	font-size:1em;
	color:#fff;
	text-decoration:underline;
}
.agile_remember {
    padding:0.5em 0;
}
.agile-info_w3ls h5{
	font-size: 14px;
    color: #fff;
    margin:2em 0 0;
    text-align: center;
}
.agile-info_w3ls h5 a{
    color: #00a78e;
    text-decoration: underline;
}
.agile-info_w3ls h5 a:hover{
	color:#999;
}
.agile_remember_right a:hover{
	color:#212121;
}
.agile-info_w3ls_grid p.asd{
	font-size:14px;
	color:#999;
	line-height:1.8em;
	padding:1em 0 0;
}
.agile-info_w3ls_grid p a{
/*-- agileits --*/
	text-decoration:none;
	    color: #fff;
    text-decoration: underline;
}
.agile-info_w3ls_grid p a:hover{
	color:#999;
}
h5.rest {
    padding-bottom: 1.55em;
}
.agile-info_w3ls{
	overflow:hidden;
}
.agile-info_w3ls{
	transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
	overflow:hidden;
	position:relative;
}
.agile-info_w3ls:hover{
    box-shadow:0px 0px 10px #262122;
    -webkit-box-shadow:0px 0px 10px #262122;
    -moz-box-shadow:0px 0px 10px #262122;
    -o-box-shadow:0px 0px 10px #262122;
    -ms-box-shadow:0px 0px 10px #262122;
    z-index: 1;
}
/*-----start-responsive-design------*/
@media (max-width:1440px){
	.wthree_top_forms {
		width: 78%;
	}
	.agile-info_w3ls input[type="text"], .agile-info_w3ls input[type="password"], .agile-info_w3ls input[type="email"] {
		width: 83.5%;
	}
}
@media (max-width:1366px){
	.wthree_top_forms {
		width: 81%;
	}
}
@media (max-width:1280px){
	.wthree_top_forms {
		width: 87%;
	}
}
@media (max-width: 1080px){
	.wthree_top_forms {
		width: 93%;
	}
	.agile-info_w3ls {
		width: 32.25%;
	}
	.agile-info_w3ls label,.agile_remember_right a,.slide-social .button {
		font-size: 14px;
	}
	.slide p {
		font-size: 14px;
		top: 12px;
	}
	.agile-info_w3ls_grid p.asd {
		padding: 0;
	}
	h5.rest {
		padding-bottom: 0.8em;
	}
	.agile-info_w3ls input[type="text"], .agile-info_w3ls input[type="password"], .agile-info_w3ls input[type="email"] {
		width: 80.5%;
	}
}
@media (max-width: 1024px){
	.main h1 {
		font-size: 2.5em;
	}
	.agile-info_w3ls {
		width: 50%;
		float: none;
		margin: 0 auto;
	}
	.agile-info_w3ls_sub {
		margin: 2em auto !important;
	}
	.agile-info_w3ls input[type="text"], .agile-info_w3ls input[type="password"], .agile-info_w3ls input[type="email"] {
		width: 87.5%;
	}
}
@media (max-width:991px){
	.agile-info_w3ls input[type="text"], .agile-info_w3ls input[type="password"], .agile-info_w3ls input[type="email"] {
		width: 86.5%;
	}
}
@media (max-width:800px){
	.agile-info_w3ls {
		width: 75%;
	}
	.agile-info_w3ls input[type="text"], .agile-info_w3ls input[type="password"], .agile-info_w3ls input[type="email"] {
		width: 89.5%;
	}
}
@media (max-width:768px){
	.agile-info_w3ls input[type="text"], .agile-info_w3ls input[type="password"], .agile-info_w3ls input[type="email"] {
		width: 88.5%;
	}
}
@media (max-width:667px){
	.main h1 {
		font-size: 2.2em;
	}
	.agile-info_w3ls input[type="text"], .agile-info_w3ls input[type="password"], .agile-info_w3ls input[type="email"] {
		width: 86.5%;
	}
	.agileits_copyright {
		padding: 3em 0 4em;
	}
}
@media (max-width: 600px){
	.main h1 {
		font-size: 2em;
	}
	.wthree_top_forms {
		margin: 2em auto 0;
	}
	.agile-info_w3ls {
		width: 85%;
	}
	.agile-info_w3ls input[type="text"], .agile-info_w3ls input[type="password"], .agile-info_w3ls input[type="email"] {
		width: 87.5%;
	}
}
@media (max-width:568px){
	.agile-info_w3ls input[type="text"], .agile-info_w3ls input[type="password"], .agile-info_w3ls input[type="email"] {
		width: 86.5%;
	}
	.slide-social .button {
		margin: 11px 0 0 58px;
	}
}
@media (max-width:480px){
	.main h1 {
		font-size: 1.8em;
	}
	.agile-info_w3ls {
		width:100%;
	}
	.agile-info_w3ls_grid {
		padding: 1.5em;
	}
	.agileits_copyright p {
		font-size: 14px;
		padding: 0 1em;
	}
	.agileits_copyright {
		padding: 2em 0 3em;
	}
	.agile-info_w3ls h3 {
		font-size: 1.3em;
	}
}
@media (max-width:414px){
	.agile-info_w3ls input[type="text"], .agile-info_w3ls input[type="password"], .agile-info_w3ls input[type="email"] {
		width: 83.5%;
	}
	.slide-social {
		width: 139px;
	}
}
@media (max-width:384px){
	.slide-social {
		width: 126px;
	}
	.slide-social .button {
		margin: 11px 0 0 48px;
	}
}
@media (max-width:375px){
	.agile-info_w3ls h3 {
		font-size: 1.2em;
	}
	.agile-info_w3ls_grid {
		padding: 1em 1em 2em;
	}
	.agile-info_w3ls input[type="text"], .agile-info_w3ls input[type="password"], .agile-info_w3ls input[type="email"] {
		width: 82.5%;
	}
	.agile-info_w3ls_sub {
		margin: 1.5em auto !important;
	}
	.agile-info_w3ls h5 {
		margin: 1em 0 0;
	}
}
@media (max-width:320px){
	.main h1 {
		font-size: 1.6em;
	}
	.agile-info_w3ls input[type="text"], .agile-info_w3ls input[type="password"], .agile-info_w3ls input[type="email"] {
		font-size: 13px;
	}
	.checkbox {
		padding-left: 30px !important;
	}
	.agile-info_w3ls input[type="email"] {
		margin: 1.5em 0 2em;
	}
	.agile-info_w3ls h5, .agileits_copyright p {
		font-size: 0.9em;
	}
	.agile-info_w3ls h3 {
		padding: .5em;
	}
	.agile_remember_left {
		float: none;
		margin-bottom: 1em;
	}
	.agile_remember_right {
		float: none;
	}
	.agile_remember {
		padding: 0.5em 0 0;
	}
	.agile-info_w3ls h4 {
		font-size: 1.1em;
		margin: 1em 0 1em;
	}
	.agile-info_w3ls_grid {
		padding: 1em;
	}
	.agileits_copyright {
		padding: 1em 0 1em;
	}
	.checkbox i {
		width: 15px;
		height: 15px;
	}
	.checkbox input + i:after {
		background: url("/images/signupin/4.png") no-repeat 0px 2px;
		background-size: 55%;
	}
	.agile-info_w3ls input[type="text"], .agile-info_w3ls input[type="password"], .agile-info_w3ls input[type="email"] {
		width: 78.5%;
	}
}