<script src="/js/emailme.js"></script>
  <div class="w3-col l4">
  <!-- About Card -->
  <div class="w3-card-2 w3-margin w3-margin-top">
  <img src="../../images/shubham.jpg" style="width:100%">
    <div class="w3-container w3-white">
      <h4><b>S h u b h a m  _  Y e o l e</b></h4>
      <p>I am a Full Stack developer. Through all of my accomplishments and disappointments, I have always been especially proud of the dedication and fervor I possess for my personal beliefs and values.</p>
      <h4><b>Contact me/Email me</b></h4>
       <div id="returnmessage"></div>
      <div id="emailme" class="emailme">

        <input type="text" name="email" id="email" style="width: 100%" placeholder="yourname@domain.com" required="">
        <input type="hidden" name="long" id="long">
        <input type="hidden" name="lat" id="lat"><br><br>
        <textarea name = "message" style="width: 100%" id="emailmessage" placeholder="Email Body" required=""></textarea><br><br>
        <input type="submit" id="submitEmail"><br><br>

      </div>
    </div>
  </div><hr>

<p id="specificblog"></p>
  <script src="js/rightsidedown.js"></script>

  <div class="w3-card-2 w3-margin">
    <div class="w3-container w3-padding">
      <h4>Popular Posts</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
      <li class="w3-padding-16" id="java">
        <img src="../../images/java.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">JAVA</span><br>
        <span>Data Structures</span>
      </li>
      <li class="w3-padding-16" id="nodejs">
        <img src="../../images/nodejs.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Node.js</span><br>
        <span>Twilio and computer science project doubts</span>
      </li>
      <li class="w3-padding-16" id="javascript_scripting_language">
        <img src="../../images/javascript_scripting_language.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">JavaScript</span><br>
        <span>Front End Enhancement</span>
      </li>
      <li class="w3-padding-16 w3-hide-medium w3-hide-small" id="jquery">
        <img src="../../images/jquery.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">jQuery</span><br>
        <span>Frontend</span>
      </li>
       <li class="w3-padding-16 w3-hide-medium w3-hide-small" id="angularjs">
        <img src="../../images/angularjs.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">AngularJS</span><br>
        <span>Frontend</span>
      </li>
       <li class="w3-padding-16 w3-hide-medium w3-hide-small" id="ajax">
        <img src="../../images/ajax.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">AJAX</span><br>
        <span>Frontend</span>
      </li>
       <li class="w3-padding-16 w3-hide-medium w3-hide-small" id="mongodb_database">
        <img src="../../images/mongodb_database.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">MongoDB</span><br>
        <span>MongoDB Queries</span>
      </li>
       <li class="w3-padding-16 w3-hide-medium w3-hide-small" id="mysql">
        <img src="../../images/mysql.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">MySQL</span><br>
        <span>MySQL Database</span>
      </li>
       <li class="w3-padding-16 w3-hide-medium w3-hide-small" id="hibernate">
        <img src="../../images/hibernate.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Hibernate</span><br>
        <span>Queries</span>
      </li>
       <li class="w3-padding-16 w3-hide-medium w3-hide-small" id="spring">
        <img src="../../images/spring.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Spring</span><br>
        <span>Spring Framework</span>
      </li>

    </ul>
  </div>
  <hr>